h1{
	text-align: center;
}

img {
		border:	5px solid white;
    display: block;
    margin: 0 auto;
	width: 100	%;
	height: auto;
}


p {
	text-align: center;
}
.search-box {
border: 1px solid #FBE301;
	color: black;
    font-size: 14pt;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 12px;
	height: 42px;
	width: 80%;
	border-radius: 42px;
	outline: none;

}
.text-box{
	padding-top: 200px;
	text-align: center;
	align-items: flex-start;
}

.enter-button{
	color: black;
	font-size: 14pt;

}
.score-text{
font-size: 40pt;

}

.player-score{
	font-size:32pt;
}

.skip-button{
	color: black;
	font-size: 14pt;
}

.guess-result{
	text-align: center;
	font-size: 24pt;

}


body{
	color: white;
	background: linear-gradient(#13212A, #16586F);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
