h1{
	text-align: center;
}

img {
		border:	5px solid white;
    display: block;
    margin: 0 auto;
		padding-left: 0px;
	width: 100%;
	height: auto;
}


p {
	text-align: center;
	font-size: 20pt;
}
.search-box {
border: 1px solid #FBE301;
	color: black;
    font-size: 18pt;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 0 12px;
	height: 42px;
	width: 100%;
	border-radius: 42px;
	outline: none;

}
.text-box{
	padding-top: 200px;
	text-align: center;
	align-items: flex-start;
}

.enter-button{
	/*padding: 10px 60px; */
	color: black;

	float: right;

}
.score-text{
	padding-top: 50px;
	font-size: 40pt;

}

.player-score{
	padding-top: 20px;
	font-size:48pt;
}

.skip-button{
	color: black;


	float: left;
}
.hint-button{
	color: black;
}

.wrong-answer{
	font-size: 72pt;
	color: #db5755;
	padding-bottom: 0px;
}

.guess-result{
	text-align: center;
	font-size: 32pt;


}


.image-location{
	padding-top: 50px;
}

.season-text{
	padding-left: 15px;
	font-size: 20pt;

}

button {
    padding: 2% 8%;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3vw;
		color: black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
		background-color: #f7f031;
}

button:disabled {
    background-color: #AAAAAA;
}


body{
	color: black;
	/*background: linear-gradient(#13212A, #16586F); */
	background-image: url(Background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
